name: ci
on: push
permissions:
  contents: read
jobs:
  ci:
    name: ci (go:${{ matrix.go-version.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
        - name: latest
          version: 1.25.x
        - name: previous
          version: 1.24.x
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: setup-go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version.version }}
      - name: setup-buf
        uses: bufbuild/buf-setup-action@v1
      - name: cache
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-connect-ci-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-connect-ci-
      - name: generate
        run: make generate && make checkgenerate
      - name: test
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
        run: make test
      - name: lint
        if: matrix.go-version.name == 'latest'
        run: make lint
